{extend name="base"} {block name="sub_title"}{/block} {block name="content"} {foreach name="articles" item="v"}
<article class="am-panel am-panel-secondary blog-list-main">
    <h3 class="am-article-title blog-list-title"><a href="{:url('index/index/article', ['id'=>$v['id']])}">{$v.title}</a></h3>
    <div class="am-g">
        <div class="am-u-sm-12">
            <div class="blog-list-content">
                <textarea style="display:none;">{$v.markdown|strip_tags|get_lines=0,4}</textarea>
            </div>
            <div class="article-meta">
                {eq name="v.top" value="1"}
                <li><span class="am-badge am-badge-danger am-radius am-text-lg am-icon-level-up"> 置顶</span></li>
                {/eq}
                <li><i class="am-icon-calendar"> {$v.time|date='Y-m-d',###}</i></li>
                <li><i class="am-icon-eye"> {$v.views}</i></li>
                <li><i class="am-icon-comments"> No</i></li>
            </div>
            <div class="blog-list-action am-hide-sm-only">
                <a href="{:url('/article/' . $v['id'])}" class="am-btn am-btn-secondary am-fr am-btn-sm blog-list-read-more am-icon-ellipsis-h"> 阅读全文</a>
            </div>
        </div>
    </div>
</article>
{/foreach}
<ul class="am-pagination blog-list-pagination">
    <li class="am-pagination-prev"><a href="javascript:;">« 上一页</a></li>
    <li class="am-pagination-next"><a href="javascript:;">下一页 »</a></li>
</ul>
{/block} {block name="js"}
<script src="__STATIC__/editor.md/lib/marked.min.js"></script>
<script src="__STATIC__/editor.md/lib/prettify.min.js"></script>
<script src="__STATIC__/editor.md/lib/raphael.min.js"></script>
<script src="__STATIC__/editor.md/lib/underscore.min.js"></script>
<script src="__STATIC__/editor.md/lib/sequence-diagram.min.js"></script>
<script src="__STATIC__/editor.md/lib/flowchart.min.js"></script>
<script src="__STATIC__/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="__STATIC__/editor.md/editormd.min.js"></script>
<script>
$(function() {
    $('.am-pagination-prev, .am-pagination-next').click(function() {
        alert("不用翻页惹，俺还没有开发呢~");
        return false;
    });
    editormd.emoji = {
            path: "__STATIC__/editor.md/emojis/",
            ext: ".png"
        },
        editormd.twemoji = {
            path: "http://twemoji.maxcdn.com/72x72/",
            ext: ".png"
        };
    var id = '';
    $('.blog-list-content').each(function(index, el) {
        id = 'preview_' + index;
        $(el).attr('id', id);
        editormd.markdownToHTML(id, {
            htmlDecode: true,
            toc: true,
            tocm: true, // Using [TOCM]
            gfm: true,
            tocDropdown: true,
            markdownSourceCode: false, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析

        });
    });
});
</script>
{/block}
